<%= form_with(model: screening) do |form| %>
  <%= render "shared/errors" , obj: @screening %>
  <div class="field">
    <%= form.label "Movie:" %>
    <%= form.select(:movie_id, Movie.all.collect {|c| [c.title, c.id ]}, { :include_blank => 'Select' }) %>
  </div>

  <div class="field">
    <%= form.label "Hall:" %>
    <%= form.select(:hall_id, Hall.all.collect {|c| [c.name, c.id ]}, { :include_blank => 'Select' }) %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.datetime_field :start_time %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
