<div id="carouselExampleIndicators" class="carousel slide my-0" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "oppenheimer.jpeg", class: "d-block w-100", alt: "First slide", height: "500px" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "barbie.jpeg", class: "d-block w-100", alt: "Second slide", height: "500px" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "mission_impossible.jpeg", class: "d-block w-100", alt: "Third slide", height: "500px" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="mt-4 p-5 bg-dark text-white rounded">
  <h1>Welcome To Monte Cinema! </h1>
  <p>We are based in the heart of Wrocław. :D</p>
  <p> You can check our list of movies check the ones you want and receive discounts for snacks at the bar </p>
  <%= link_to "Book a Ticket", movies_path, class: "btn btn-info m-2" %>
   <%= link_to "Sign Up For Free", new_user_registration_path, class: "btn btn-primary me-3"%>
</div>