<div class="container py-5" style="max-width: 540px;">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-outline mb-4">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="mb-3 text-center">
      <%= f.submit "Reset Password", class: "btn btn-primary btn-block mb-4 w-75" %>
    </div>
  <% end %>
</div>