<% @reservation.tickets.each do |ticket| %>
<div class="card m-3 bg-dark text-white p-3" id="ticket-card">
  <h5 class="card-title"> Reservation ID: <%= @reservation.id %> </h5>
  <div class="card-text">
    <ul>
      <li>
          <strong>Movie:</strong>
          <%= @reservation.screening.movie.title %>
      </li>

      <li>
          <strong>Hall:</strong>
          <%=  @reservation.screening.hall.name %> 
      </li>

      <li>
          <strong>Hall:</strong>
          <%=  format_date(@reservation.screening.start_time) %> 
      </li>

      <li>
        <strong>Seat:</strong>
        <%= ticket.seat %>
      </li>

    </ul>
  </div>
</div>
<% end %>