<h5 class="card-title"> Reservation ID: <%= reservation.id %> </h5>
<h6 class="card-subtitle mb-2 text-muted">Owner: <%= reservation.email %></h6>
<div class="card-text">
  <ul>
    <li>
        <strong>Movie:</strong>
        <%= reservation.screening.movie.title %>
    </li>

    <li>
        <strong>Hall:</strong>
        <%=  reservation.screening.hall.name %> 
    </li>

    <li>
        <strong>Hall:</strong>
        <%=  format_date(reservation.screening.start_time) %> 
    </li>

    <li>
        <strong>Seat:</strong>
        <% if reservation.tickets.any? %>
          <%= reservation.tickets.map(&:seat).join(", ")  %>
        <% end %>
          
    </li>


    <li>
        <strong>Reservation status:</strong>
        <%= reservation.status %>
    </li>
  </ul>
</div>
