<h1>Editing Reservation status</h1>

<%= form_with(model: @reservation) do |form| %>
  <% if @reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% @reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <strong>Reservation ID:</strong>
     <%= @reservation.id %>
  </p>

  <ul>
    <li>
        <strong>Movie:</strong>
        <%= @reservation.screening.movie.title %>
    </li>

    <li>
        <strong>Hall:</strong>
        <%= Hall.find(@reservation.screening.hall.id).name %>
    </li>

    <li>
        <strong>Seat:</strong>
        <%= @reservation.tickets.map(&:seat).to_s %>
    </li>

    <li>
        <strong><%= form.label :status, style: "display: block" %></strong>
        <%= form.select(:status, Reservation.statuses.keys) %>
    </li>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Back to reservations", reservations_path %>
</div>
