<div class="container">
  <% @reservations.each do |reservation| %>
    <div class="card m-3 bg-dark text-white" style="width: 30rem;">
      <div class="card-body">
        <%= render partial: 'reservation', locals: {reservation: reservation} %>
        <%= button_to "Cancel Reservation", reservation_cancel_path(reservation), method: :patch, class: "btn btn-danger m-2" %>
        <% if manager? %>
          <%= button_to "Confirm Reservation", reservation_confirm_path(reservation), method: :patch, class: "btn btn-success m-2" %>
        <% end %>
          <%=  link_to "Show more", reservation_path(reservation), class: "btn btn-warning m-2"%>
      </div>
    </div>
  <% end %>
  <div class="m-3"><%== pagy_bootstrap_nav(@pagy) %></div>
</div>

