<div class="reservation-container">    
    <h2>Title: <%= @screening.movie.title %></h2>
    <p class="fw-bold">Start Time:<%= format_date(@screening.start_time) %></p>
    <p class="fw-bold">Hall Name: <%= @screening.hall.name %></p>
  <%= form_with(url: screening_reservations_path, method: "post") do |form|%>
    <% if @reservation.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this object from being saved:</h2>
          <% @reservation.errors.each do |error| %>
            <p><%= error %></p>
          <% end %>
      </div>
    <% end %>
    <% if !current_user.present? %>
    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email %>
    </div>
    <% end %>
    <div class="reservation-container">
      <div class="screen"></div>
      <% @screening.hall.seats.each do |seat| %>
          <div class="form-check-inline m-2">
            <%if @screening.available_seats.include?(seat)%>
              <div>
                <%= form.check_box :seats, { multiple: true, class: "form-check-input seat"}, seat, nil %>
                <div class="form-label-reservation"><%= form.label :seats, seat, class: "form-check-label"%></div>
              </div>
            <%else%>
              <div>
                <%= form.check_box :seats, { multiple: true, class: "form-check-input seat occupied", disabled: true}, seat, nil %>
                <div class="form-label-reservation"><%= form.label :seats, seat, class: "form-check-label"%></div>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class = "d-flex justify-content-center form-group ">
      <% if !current_user.present? %>
        <%= form.submit 'Book a ticket', formaction: create_without_registration_screening_reservations_path, class: "btn btn-primary m-3" %>
      <% elsif current_user.manager? %>
        <%= form.submit 'Book offline reservation', formaction: create_at_desk_screening_reservations_path, class: "btn btn-info m-3" %>
      <%else%>
          <%= form.submit 'Book a ticket', class: "btn btn-primary m-3" %>
      <%end%>
        <%= render partial: "pay/stripe/checkout_button", locals: {
        session: @checkout_session,
        title: "Checkout"
      } %>
    </div>
  <% end %>
</div>






